spring:
  config:
    import: optional:file:.env[.properties]

  dataSource:
    url: ${DB_URL}

    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
jwt:
  secret: ${JWT_SECRET}
  lifetime: 1h

logging:
  level:
    org:
      springframework:
        security: DEBUG