spring:
  config:
    import: optional:file:.env[.properties]

  dataSource:
    url: ${DB_URL}

    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    driver-class-name: org.postgresql.Driver
  jpa:


    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
    host: redis
    port: 6379


app:
  cache:
  ttl: 3600

jwt:
  secret: ${JWT_SECRET:}
  lifetime: PT1H

logging:
  level:
    org.springframework.boot: INFO
    com.yourpackage: DEBUG
    org:
      springframework:
#        security: DEBUG